*{box-sizing: border-box;}
body
{
    margin:0;
    height: 100vh;
    background-color: #ccc;
    font-family:'Segoe UI';


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container
{
    border-radius: 12px;
    background-color: white;
    padding: 30px 50px;
    color:#949494;
    margin-bottom: 20px;
    display: flex;
   
}
.container i
{
    font-size: 1.4em;
    margin: 0 1px;
}
.container i:hover
{
    color:rgb(255, 208, 0);
}
button
{
    background-color: rgb(199, 66, 5);
    color:white;
    font-weight: bold;
    border:none;
    outline:none;
    border-radius: 8px;
    cursor: pointer;
    padding: 10px 20px;
}